<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282876787230-cjj39at64tmkabi1n2os96t0laeimvt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282876787230-cjj39at64tmkabi1n2os96t0laeimvt3</string>
	<key>API_KEY</key>
	<string>AIzaSyBExLsAutQsRJzjLe4si5ZxTdRImjN3WzA</string>
	<key>GCM_SENDER_ID</key>
	<string>282876787230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSC690.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-a8cef</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-a8cef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282876787230:ios:7c9a0fe13aea009fa20c0f</string>
	<key>DATABASE_URL</key>
	<string>https://uber-a8cef.firebaseio.com</string>
</dict>
</plist>